div>h1{
    background-color: blue;
}
div h1 {
    background-color: blue;
}

div span {
    background-color: yellow;/* 후손 개념의 div 아래에 있는 모든 span */
}
div>span {
    border: 4px solid blue; /* 자손 개년의 div 바로 아래에 있는  span */
}
