*{margin: 0;padding: 0;}
.content1 {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
    margin: 10px;
}

.content2{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    float: left;
    margin: 10px;
    margin-left: 30px;
}
.content3 {
    width: 200px;
    overflow: hidden;  /* 박스 높이가 지정되지 않을 경우 박스 안의 내용만큼 높이도 함께 늘어남 */
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 30px;
}

.content4 {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 30px;
}