div {
    margin: 0 auto;
    width: 700px;
    height: 700px;
    background: radial-gradient(ellipse at center,
    #398235 0% #ffffff 51%, #c9de96 100%);
    /* 모양 at 위치,색상1(위치), 색상2(위치), 색상3 (위치) */
    /* 에러가 났을 경우 플러그인에서 도움을 받을 수잇다 */
    /* 라이브 서버에서 개발자 도구를 이용하여 오류를 확인하는 방법 밖에는 없다. */
}