
li {
    border: 2px solid black;
}

.menu1 {
    display: inline;
    height: 40px;
    background-color: yellowgreen;
}

.menu2 {
    display: inline-block;
    height: 40px;
    background-color: orange;
}