*{
    margin: 0;
    padding: 0;
}

.scrollbox1 {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
    margin: 10px;
    overflow: scroll; /* 가로,세로 스크롤바를 모두 표시 */
}
.scrollbox2 {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
    margin: 10px;
    overflow-x: hidden; /* 가로 스크롤바를 숨김 */
    overflow-y: scroll; /* 세로 스크롤바를 표시 */
}
.scrollbox3 {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
    margin: 10px;
    overflow-x: scroll; /* 가로 스크롤바를 표시 */
    overflow-y: hidden; /* 세로 스크롤바를 숨김 */
}